.get-started_wrapper-floating {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
}

.get-started_wrapper-bounding-box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.get-started_wrapper {
	width: 100%;
	height: 100%;

	> .get-started_wrapper-bounding-box {
		max-width: 1338px;
		margin: 0 auto;
	}

	> .get-started_wrapper-floating {
		position: absolute;
		left: 0;
		top: 0;
	}

	@include on(large-desktop) {
		> .get-started_wrapper-bounding-box {
			max-width: 977px;
		}
	}

	@include on(small-desktop) {
		> .get-started_wrapper-bounding-box {
			max-width: 768px;
		}
	}

	@include on(tablet) {
		> .get-started_wrapper-bounding-box {
			max-width: 568px;
		}
	}

	@include on(mobile) {
		> .get-started_wrapper-bounding-box {
			max-width: 382px;
		}
	}
}

.get-started_panel {
	width: 100%;
	position: relative;
}

@mixin get-started_container--large-desktop {
	> .get-started_panel-1 {
		min-height: 700px;
	}
}

@mixin get-started_container--small-desktop {
	> .get-started_panel-1 {
		min-height: 600px;
	}
}

@mixin get-started_container--tablet {
	> .get-started_panel-1 {
		min-height: 561px;
	}
}

@mixin get-started_container--mobile {
	> .get-started_panel-1 {
		min-height: 656px;
		padding: 0 $spacing-double;
	}
}

.get-started_container {
	width: 100%;
	overflow-x: clip;

	> .header-menu {
		margin: 0 auto 120px;
		position: sticky;
		top: 36px;
	}

	> .get-started_panel-1 {
		min-height: 838px;
	}

	@include on(large-desktop) {
		@include get-started_container--large-desktop;
	}

	@include on(small-desktop) {
		@include get-started_container--small-desktop;
	}

	@include on(tablet) {
		@include get-started_container--tablet;
	}

	@include on(mobile) {
		@include get-started_container--mobile;
	}
}

/**

	:: comparison-table --------------------------------------------------------

**/

.get-started_comparison-table {
	width: 100%;
	max-width: 1021px;
	display: flex;
	flex-direction: column;

	> .row {
		display: flex;
		margin: 0;
		padding: 0;
		flex: 1;
		width: 100%;
		flex-wrap: wrap;

		> .item {
			width: 100%;
			flex: 1;
			padding: 10px;

			> .header {
				display: flex;
				align-items: center;

				> .icon {
					min-width: 32px;
					height: 32px;
				}

				> .title {
					margin-left: $spacing-half;
					color: #0a2757;
					letter-spacing: -0.03em;
					font: 700 1.43rem/1.35 $gotham-bold;

					&.-verified {
						color: #1972f9;
					}
				}
			}

			> .description {
				margin-top: $spacing-default;
				color: rgba(10, 39, 87, 0.5);
				font: 500 1rem/1.3 $gotham-bold;
			}
		}
	}

	> .body {
		display: flex;

		> .column {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			> .row {
				display: flex;
			}
		}
	}
}

/**

	:: comparison-table --------------------------------------------------------

**/
