/*
* START - 1st Section
**/
.get-started_panel-1 {
	min-height: 836px;

	.get-started_wrapper-bounding-box {
		background: #ebf3ff;
		border-radius: 40px 40px 0px 0px;
		min-height: 716px;
		padding: 60px 0 0 154px;
	}

	.section-1-img-1 {
		width: 707px;
		transform: translate(28px, 92px);
	}

	.get-started_message-bubble.-verified-account {
		transform: translate(110px, -63px);
	}

	@include on(large-desktop) {
	}

	@include on(small-desktop) {
	}

	@include on(tablet) {
	}

	@include on(mobile) {
	}
}
/* END  - 1st Section */

/*
* START - 2nd Section
**/
.get-started_panel-2 {
	z-index: -1;
	transform: translateY(-122px);
	min-height: 934px;

	.get-started_wrapper-bounding-box {
		background: #ebf3ff;
		border-radius: 0px 0px 40px 40px;
		padding: 120px 0 82px 154px;
		flex-direction: column;
		min-height: 814px;

		> .get-started_comparison-table {
			margin-top: 100px;
		}
	}

	@include on(large-desktop) {
		.get-started_wrapper-bounding-box {
			padding: 120px 60px 82px;

			> .get-started_comparison-table {
				margin-top: 100px;
			}
		}
	}

	@include on(small-desktop) {
		.get-started_wrapper-bounding-box {
			padding: 150px 40px $spacing-double-quad;
			min-height: 662px;

			> .get-started_comparison-table {
				margin-top: 60px;
			}
		}
	}

	@include on(tablet) {
		.get-started_wrapper-bounding-box {
			padding: 150px 40px $spacing-double-quad;
			min-height: 764px;

			> .get-started_comparison-table {
				margin-top: 60px;
			}
		}
	}

	@include on(mobile) {
		.get-started_wrapper-bounding-box {
			padding: 150px 30px 40px;
			min-height: 764px;

			> .get-started_comparison-table {
				margin-top: 60px;
			}
		}
	}
}
/* END  - 2nd Section */

.get-started_wrapper-floating {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;

	> * {
		position: absolute;
		left: 50%;
	}
}

.get-started_wrapper-bounding-box {
	width: 100%;
	height: 100%;
	display: flex;
}

.get-started_wrapper {
	width: 100%;
	height: 100%;

	> .get-started_wrapper-bounding-box {
		max-width: 1338px;
		margin: 0 auto;
	}

	> .get-started_wrapper-floating {
		position: absolute;
		left: 0;
		top: 0;
	}

	@include on(large-desktop) {
		> .get-started_wrapper-bounding-box {
			max-width: 977px;
		}
	}

	@include on(small-desktop) {
		> .get-started_wrapper-bounding-box {
			max-width: 768px;
		}
	}

	@include on(tablet) {
		> .get-started_wrapper-bounding-box {
			max-width: 568px;
		}
	}

	@include on(mobile) {
		> .get-started_wrapper-bounding-box {
			max-width: 382px;
		}
	}
}

.get-started_panel {
	width: 100%;
	position: relative;
}

@mixin get-started_container--large-desktop {
	> .get-started_panel-1 {
		min-height: 700px;
	}
}

@mixin get-started_container--small-desktop {
	> .get-started_panel-1 {
		min-height: 600px;
	}
}

@mixin get-started_container--tablet {
	> .get-started_panel-1 {
		min-height: 561px;
	}
}

@mixin get-started_container--mobile {
	> .get-started_panel-1 {
		min-height: 656px;
		padding: 0 $spacing-double;
	}
}

.get-started_container {
	width: 100%;
	overflow-x: clip;

	> .header-menu {
		position: fixed;
		top: 36px;
		left: 50%;
		transform: translate(-50%);
	}

	> .get-started_panel-1 {
		min-height: 838px;
		margin-top: calc(120px + 36px + 64px);
	}

	@include on(large-desktop) {
		@include get-started_container--large-desktop;
	}

	@include on(small-desktop) {
		@include get-started_container--small-desktop;
	}

	@include on(tablet) {
		@include get-started_container--tablet;
	}

	@include on(mobile) {
		@include get-started_container--mobile;
	}
}
