.landing_wrapper-floating {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
}

.landing_wrapper-bounding-box {
	width: 100%;
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing_wrapper {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0;
	overflow: hidden;
}

.landing_panel {
	width: 100%;
	height: 100vh;
	position: relative;
}

.landing_container {
	width: 100%;
	overflow-x: clip;

	> .header-menu {
		position: sticky;
		margin: 0 auto;
		top: 36px;
		z-index: 999;
	}

	> .landing_panel {
		z-index: 50;
	}
}
