/*
* START - 1st Section
**/
@mixin landing_panel-1--small-desktop {
	.section-1-phone {
		width: 768px;
		height: 44px;
	}
}

@mixin landing_panel-1--tablet {
	.section-1-phone {
		width: 480px;
		height: 27px;
	}

	.section-1-phone-shadow {
		width: 768px;
		height: 159px;
	}
}

@mixin landing_panel-1--mobile {
	.landing_text-display {
		max-width: 9ch;
		transform: translate(0, -100px);
	}

	.section-1-phone {
		width: 373.75px;
		height: 21.02px;
	}

	.section-1-phone-shadow {
		width: 598px;
		height: 123.8px;
	}
}

.landing_panel-1 {
	.landing_text-display {
		text-align: center;
		transform: translate(0, -100px);
	}

	.landing_wrapper-floating {
		flex-direction: column;
		justify-content: center;
	}

	.section-1-phone {
		width: 989.5px;
		height: 57px;
		transform: translate(-50%, 30px);
	}

	.section-1-phone-shadow {
		width: 1014px;
		height: 209px;
		mix-blend-mode: multiply;
		transform: translate(-50%, 160px);
	}

	@include on(small-desktop) {
		@include landing_panel-1--small-desktop;
	}

	@include on(tablet) {
		@include landing_panel-1--tablet;
	}

	@include on(mobile) {
		@include landing_panel-1--mobile;
	}
}
/* END - 1st Section */

/*
* START - 2nd Section
**/
@mixin landing_panel-2--large-desktop {
	.landing_text-heading-1 {
		transform: translate(-65px, 170px);
	}

	.landing_message-bubble.-avatar-left {
		transform: translate(-280px, 107px);
	}
}

@mixin landing_panel-2--small-desktop {
	.landing_message-bubble.-avatar-left {
		transform: translate(-180px, 126px);
	}
}

@mixin landing_panel-2--tablet {
	.landing_text-heading-1 {
		transform: translate(-147px, 300px);
	}

	.landing_message-bubble.-avatar-left {
		transform: translate(-212px, 166px);
	}
}

@mixin landing_panel-2--mobile {
	.landing_wrapper {
		background-position: 46%;
	}

	.landing_text-heading-1 {
		transform: translate(-108px, 85px);
	}

	.landing_message-bubble.-avatar-left {
		transform: translate(-71px, 239px);
	}
}

.landing_panel-2 {
	.landing_wrapper {
		background-size: cover;
		background-position: 40%;
	}

	.landing_wrapper-bounding-box {
		justify-content: flex-end;
	}

	.landing_text-heading-1 {
		max-width: 7ch;
		transform: translate(-75px, 166px);
	}

	.landing_message-bubble.-avatar-left {
		transform: translate(-298px, 124px);
	}

	@include on(large-desktop) {
		@include landing_panel-2--large-desktop;
	}

	@include on(small-desktop) {
		@include landing_panel-2--small-desktop;
	}

	@include on(tablet) {
		@include landing_panel-2--tablet;
	}

	@include on(mobile) {
		@include landing_panel-2--mobile;
	}
}
/* END  - 2nd Section */

/*
* START - 3rd Section
**/
.landing_panel-3 {
	.landing_text-snowflake {
		transform: translate(0, 73px);
	}

	.section-3-phone {
		width: 255px;
		height: 74px;
		transform: translate(57px, 127px);
	}

	.landing_shop-item {
		&.-cream {
			transform: translate(187px, -218px);
		}

		&.-watch {
			transform: translate(-512px, -170px);
		}

		&.-vase {
			transform: translate(-670px, 164px);
		}

		&.-tote {
			transform: translate(348px, 80px);
		}

		&.-headphones {
			transform: translate(-152px, 265px);
		}
	}
}
/* END  - 3rd Section */

.landing_wrapper-floating {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;

	> * {
		position: absolute;
		left: 50%;
	}
}

.landing_wrapper-bounding-box {
	width: 100%;
	height: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing_wrapper {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0;
	overflow: hidden;
}

.landing_panel {
	width: 100%;
	position: relative;
}

.landing_container {
	width: 100%;
	overflow-x: clip;

	> .header-menu {
		position: fixed;
		z-index: 999;
		left: 50%;
		transform: translate(-50%, 36px);
	}

	> .landing_indicator {
		position: fixed;
		z-index: 999;
		top: 50%;
		left: 93px;
		transform: translateY(-50%);
	}

	> .landing_panel {
		z-index: 50;
	}

	@include on(large-desktop) {
		> .landing_indicator {
			left: 70px;
		}
	}

	@include on(small-desktop) {
		> .landing_indicator {
			left: 39px;
		}
	}

	@include on(tablet) {
		> .landing_indicator {
			left: 24px;
		}
	}

	@include on(mobile) {
		> .landing_indicator {
			left: 16px;
		}
	}
}
