.paginationjs-page>a,
.paginationjs-ellipsis>a {
    font-family: Gilroy, sans-serif;
    text-decoration: none;
    color: rgba(10, 39, 87, 0.2);
}

.paginationjs-page {
    font-family: Gilroy, sans-serif;
}

.paginationjs-page.active>a {
    font-family: Gilroy, sans-serif;
    color: #025AE9;
}
.paginationjs-prev>a,
.paginationjs-next>a {
    display: flex;
}

.pagination-list-wrapper {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 0;
}

.paginationjs-pages {
    display: flex;
    justify-content: center;
}
