.paginationjs-page>a,
.paginationjs-ellipsis>a {
    font-family: Gilroy, sans-serif;
    text-decoration: none;
    color: rgba(10, 39, 87, 0.2);
    cursor: pointer;
}

.paginationjs-page {
    font-family: Gilroy, sans-serif;
    cursor: pointer;
}

.paginationjs-page.active>a {
    font-family: Gilroy, sans-serif;
    color: #025AE9;
}

.paginationjs-prev {
    transform: rotate(180deg);
}

.paginationjs-prev>a,
.paginationjs-next>a {
    display: flex;
    cursor: pointer;
}

.paginationjs-prev.disabled>a,
.paginationjs-next.disabled>a {
    display: flex;
    cursor: auto;
}

.paginationjs-prev.disabled>svg circle,
.paginationjs-prev.disabled>svg path,
.paginationjs-next.disabled>svg circle,
.paginationjs-next.disabled>svg circle {
    stroke: rgba(10, 39, 87, 1)
}

.pagination-list-wrapper {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 0;
}

.paginationjs-pages {
    display: flex;
    justify-content: center;
}
