/*---------------------------------------------------
 GLOBAL MIXINS AND UTILITIES
 Only use if you have access to this file during compile
----------------------------------------------------*/
/*
    For responsive definition
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
  border: none;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  margin: 0;
}

/* SCSS Variables */
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Medium.woff") format("woff");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy/Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*---------------------------------------------------
Base Typesetting
----------------------------------------------------*/
.text-headline-epic {
  font: 350 3.43rem/1.2 "Gotham Medium", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-spotlight {
  font: 400 2.29rem/1.25 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-spotlight.-light {
  font: 350 2.29rem/1.25 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-headline-region {
  font: 400 1.71rem/1.3 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-region.-light {
  font: 350 1.71rem/1.3 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-headline-section {
  font: 400 1.43rem/1.35 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-section.-light {
  font: 350 1.43rem/1.35 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-headline-segment {
  font: 400 1.29rem/1.4 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-segment.-light {
  font: 350 1.29rem/1.4 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-headline-block {
  font: 400 1.14rem/1.45 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.text-headline-block.-light {
  font: 350 1.14rem/1.45 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-large {
  font: 400 1.14rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.01em;
}

.text-label-large.-light {
  font: 350 1.14rem/1 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-large.-multiline {
  line-height: 1.3;
}

.text-label-base {
  font: 400 1rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.01em;
}

.text-label-base.-light {
  font: 350 1rem/1 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-base.-multiline {
  line-height: 1.3;
}

.text-label-small {
  font: 400 0.86rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.01em;
}

.text-label-small.-light {
  font: 350 0.86rem/1 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-small.-multiline {
  line-height: 1.3;
}

.text-label-fine {
  font: 400 0.72rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
}

.text-label-fine.-light {
  font: 350 0.72rem/1 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-fine.-multiline {
  line-height: 1.3;
}

.text-label-tiny {
  font: 400 0.57rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
}

.text-label-tiny.-light {
  font: 350 0.57rem/1 "Gotham Medium", Arial, Helvetica, sans-serif;
}

.text-label-tiny.-multiline {
  line-height: 1.3;
}

.text-content-large {
  font: 500 1.14rem/1.4 "Gilroy Medium", Arial, Helvetica, sans-serif;
}

.text-content-large.-bold {
  font: 600 1.14rem/1.4 "Gilroy Bold", Arial, Helvetica, sans-serif;
}

.text-content-base {
  font: 500 1rem/1.4 "Gilroy Medium", Arial, Helvetica, sans-serif;
}

.text-content-base.-bold {
  font: 600 1rem/1.4 "Gilroy Bold", Arial, Helvetica, sans-serif;
}

.text-content-caption {
  font: 500 0.86rem/1.4 "Gilroy Medium", Arial, Helvetica, sans-serif;
}

.text-content-caption.-bold {
  font: 600 0.86rem/1.4 "Gilroy Bold", Arial, Helvetica, sans-serif;
}

.text-content-small-caption {
  font: 500 0.72rem/1.5 "Gilroy Medium", Arial, Helvetica, sans-serif;
}

.text-content-small-caption.-bold {
  font: 600 0.72rem/1.5 "Gilroy Bold", Arial, Helvetica, sans-serif;
}

.text-content-fine-caption {
  font: 500 0.57rem/1.5 "Gilroy Medium", Arial, Helvetica, sans-serif;
}

.text-content-fine-caption.-bold {
  font: 600 0.57rem/1.5 "Gilroy Bold", Arial, Helvetica, sans-serif;
}

/* Font rendering settings */
body,
html {
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern";
          font-feature-settings: "kern";
  /* standard */
  -webkit-font-kerning: normal;
          font-kerning: normal;
  /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
  font-size: 14px;
  /* Base font +*/
}

/* Use this on top of the element to apply this to everything inside */
.go_container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global component list */
.message-bubble {
  width: 100%;
}

.message-bubble.-avatar-left {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 24px 24px 24px 40px;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
          box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
  border-radius: 8px;
  position: relative;
  isolation: isolate;
}

.message-bubble.-avatar-left > .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 2.29rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.02em;
  color: #2044a5;
  margin-top: 8px;
}

.message-bubble.-avatar-left > .amount > .icon {
  min-width: 23px;
  height: 32px;
  background: url("data:image/svg+xml,%3Csvg width='23' height='32' viewBox='0 0 23 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4_628)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.74313 26.5939C4.6413 26.5939 3.79132 25.77 3.79132 24.7325V13.3228H1.89583C0.848794 13.3228 0 12.474 0 11.427C0 10.3799 0.848794 9.53113 1.89583 9.53113H3.79132V5.73562C3.79132 4.66763 4.6413 3.84375 5.74313 3.84375H10.5842C15.1407 3.84375 18.177 6.0542 18.8273 9.53113H20.8543C21.9013 9.53113 22.7501 10.3799 22.7501 11.427C22.7501 12.474 21.9013 13.3228 20.8543 13.3228H18.6346C17.5956 16.816 14.1741 19.0105 10.1434 19.0105H7.66346V24.7325C7.66346 25.77 6.81347 26.5939 5.74313 26.5939ZM14.7347 9.53113C14.1077 8.0364 12.4953 7.26132 10.2694 7.26132H7.66346V9.53113H14.7347ZM7.66346 13.3228H14.4222C13.6591 14.6358 12.205 15.6234 10.2694 15.6234H7.66346V13.3228Z' fill='%232044A5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_628'%3E%3Crect width='22.75' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
  margin-right: 4px;
}

.message-bubble.-avatar-left > .avatar {
  left: -29px;
  top: calc(50% - 58px / 2);
}

.message-bubble > .title {
  font: 400 1rem/1.4 "Gotham Bold", Arial, Helvetica, sans-serif;
  color: #2044a5;
  opacity: 0.8;
}

.message-bubble > .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 2.29rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  letter-spacing: -0.02em;
  color: #2044a5;
  margin-top: 8px;
}

.message-bubble > .amount > .icon {
  min-width: 23px;
  height: 32px;
  margin-right: 4px;
}

.message-bubble > .avatar {
  position: absolute;
  width: 100%;
  max-width: 58px;
  height: 58px;
  background: #ffffff;
  -webkit-box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
          box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
  border-radius: 50%;
  padding: 5px;
}

@media all and (max-width: 1024px) {
  .message-bubble.-avatar-left {
    padding: 17.57px 17.57px 17.57px 29.29px;
    -webkit-box-shadow: 0 5.85714px 8.78571px -5.85714px rgba(15, 37, 69, 0.2);
            box-shadow: 0 5.85714px 8.78571px -5.85714px rgba(15, 37, 69, 0.2);
    border-radius: 5.85714px;
  }
  .message-bubble.-avatar-left > .title {
    font: 400 0.72rem/1.4 "Gotham Bold", Arial, Helvetica, sans-serif;
  }
  .message-bubble.-avatar-left > .amount {
    font: 400 1.71rem/1 "Gotham Bold", Arial, Helvetica, sans-serif;
  }
  .message-bubble.-avatar-left > .amount > .icon {
    min-width: 16.66px;
    height: 23.43px;
    background: url("data:image/svg+xml,%3Csvg width='18' height='25' viewBox='0 0 18 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4_693)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.81208 20.2205C4.00538 20.2205 3.38307 19.6173 3.38307 18.8578V10.5042H1.99531C1.22872 10.5042 0.607285 9.88279 0.607285 9.11621C0.607285 8.34963 1.22872 7.72819 1.99531 7.72819H3.38307V4.94933C3.38307 4.16741 4.00538 3.56421 4.81208 3.56421H8.35641C11.6925 3.56421 13.9154 5.18258 14.3915 7.72819H15.8756C16.6422 7.72819 17.2636 8.34963 17.2636 9.11621C17.2636 9.88279 16.6422 10.5042 15.8756 10.5042H14.2505C13.4897 13.0617 10.9848 14.6684 8.03373 14.6684H6.21803V18.8578C6.21803 19.6173 5.59572 20.2205 4.81208 20.2205ZM11.3952 7.72819C10.9361 6.63383 9.75566 6.06636 8.12593 6.06636H6.21803V7.72819H11.3952ZM6.21803 10.5042H11.1664C10.6077 11.4656 9.54311 12.1886 8.12593 12.1886H6.21803V10.5042Z' fill='%232044A5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_693'%3E%3Crect width='16.6563' height='23.4286' fill='white' transform='translate(0.607285 0.75)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center no-repeat;
  }
  .message-bubble.-avatar-left > .avatar {
    max-width: 42.46px;
    height: 42.46px;
    left: -21.23px;
    top: calc(50% - 42.46px / 2 - 0.68px);
  }
}

/* Page templates scss */
/* Break this down already and decomission this */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=design-system.css.map */