@font-face {
	font-family: "Gotham Medium";
	src: url("../fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
		url("../fonts/Gotham/Gotham-Medium.woff") format("woff");
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gotham Bold";
	src: url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
		url("../fonts/Gotham/Gotham-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy Medium";
	src: url("../fonts/Gilroy/Gilroy-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("../fonts/Gilroy/Gilroy-Bold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
