@mixin get-started_message-bubble--large-desktop {
	&.-verified-account {
		max-width: 244.64px;
		padding: 22px 17px 23px 44px;
		border: 0.66px solid #edf1fb;
		border-radius: 3.96px;

		> .avatar {
			width: 54.16px;
			height: 54.16px;
		}

		> .preamble {
			font-size: 0.53rem;
			line-height: 1.4;
		}

		> .name {
			margin-top: 3.73px;
			font-size: 0.93rem;
			line-height: 1.4;

			> .icon {
				width: 18.67px;
				height: 18.67px;
				display: block;
				margin-left: 3.73px;
			}
		}

		> .phone-number {
			margin-top: 7.47px;
			padding: $spacing-half 7px;
			font-size: 0.8rem;
			line-height: 1;
			border-radius: 41.08px;
		}
	}
}

@mixin get-started_message-bubble--small-desktop {
	&.-verified-account {
		max-width: 207.14px;
		padding: 18.97px 14.23px 18.97px 37.16px;
		border: 0.560014px solid #edf1fb;
		border-radius: 3.36px;

		> .avatar {
			width: 45.86px;
			height: 45.86px;
		}

		> .preamble {
			font-size: 0.45rem;
		}

		> .name {
			margin-top: 3.16px;
			font-size: 0.45rem;

			> .icon {
				width: 15.81px;
				height: 15.81px;
				margin-left: 3.16px;
			}
		}

		> .phone-number {
			margin-top: 6.32px;
			padding: 3.16px 6.32px;
			font-size: 0.68rem;
			border-radius: 34.78px;
		}
	}
}

@mixin get-started_message-bubble--tablet {
}

@mixin get-started_message-bubble--mobile {
}

@mixin get-started_message-bubble--verified-account {
	max-width: 286.35px;
	position: relative;
	box-shadow: 0px 5.29117px 7.93675px -5.29117px rgba(15, 37, 69, 0.2);
	border-radius: 4.64px;
	letter-spacing: -0.01em;
	padding: 26px 20px 26px 51px;
	border: 0.77px solid #edf1fb;

	> .avatar {
		width: 63.39px;
		height: 63.39px;
		border-radius: 50%;
		padding: 5px;
		background: #ffffff;
		left: 0;
		transform: translateX(-23px);
		box-shadow: 0px 8.74344px 13.1152px -8.74344px rgba(15, 37, 69, 0.2);
		object-fit: cover;
	}

	> .preamble {
		color: #25b67b;
		font: 700 0.62rem/1.37 $gotham-bold;
	}

	> .name {
		margin-top: 4.37px;
		color: #30326f;
		display: flex;
		align-items: center;
		font: 700 1.09rem/1.37 $gotham-bold;

		> .icon {
			width: 21.86px;
			height: 21.86px;
			display: block;
			margin-left: 4.37px;
		}
	}

	> .phone-number {
		margin-top: 9px;
		background: #ecf1fa;
		border-radius: 48.09px;
		padding: $spacing-half 9px;
		color: #0f3391;
		font: 700 0.94rem/0.99 $gotham-bold;
		max-width: max-content;
	}
}

.get-started_message-bubble {
	background: #ffffff;
	width: 100%;

	> .avatar {
		position: absolute;
	}

	&.-verified-account {
		@include get-started_message-bubble--verified-account;
	}

	@include on(large-desktop) {
		@include get-started_message-bubble--large-desktop;
	}

	@include on(small-desktop) {
		@include get-started_message-bubble--small-desktop;
	}

	@include on(tablet) {
		@include get-started_message-bubble--tablet;
	}

	@include on(mobile) {
		@include get-started_message-bubble--mobile;
	}
}
