@mixin get-started_message-bubble--small-desktop {
	&.-cash-in-success {
		> .title {
			font-size: 1.08rem;
		}
	}
}

@mixin get-started_message-bubble--tablet {
	&.-cash-in-success {
		> .title {
			font-size: 1.15rem;
		}
	}
}

@mixin get-started_message-bubble--mobile {
	&.-cash-in-success {
		> .title {
			font-size: 0.79rem;
		}
	}
}

.get-started_message-bubble {
	&.-cash-in-success {
		> .title {
			font: 500 1.22rem/1.4 $gilroy-medium;
			letter-spacing: -0.01em;
			color: #2044a5;
			opacity: 0.8;
		}
	}

	@include on(small-desktop) {
		@include get-started_message-bubble--small-desktop;
	}

	@include on(tablet) {
		@include get-started_message-bubble--tablet;
	}

	@include on(mobile) {
		@include get-started_message-bubble--mobile;
	}
}
