@mixin services-card--small-desktop {
	max-width: 276.06px;
	height: 389.73px;
	border-radius: 6.49556px;
	padding: $spacing-quad;

	> .icon {
		max-width: 50.34px;
		height: 50.34px;
		margin-bottom: 6.5px;
	}

	> .title {
		font-size: 1.86rem;
	}

	&.-no-padding-bottom {
		padding-left: 31px;
		border-radius: 13.8031px;

		> .title {
			font-size: 2.79rem;
		}
	}

	&.-content-only {
		padding: 0 26px;

		> .title {
			font-size: 4rem;
		}
	}
}

@mixin services-card--tablet {
	max-width: 235.86px;
	height: 332.98px;
	border-radius: 5.54971px;
	padding: 27.5px;

	> .icon {
		max-width: 43.01px;
		height: 43.01px;
		margin-bottom: 5.55px;
	}

	> .title {
		font-size: 1.57rem;
	}

	&.-no-padding-bottom {
		padding-left: 27px;
		border-radius: 11.7931px;

		> .title {
			font-size: 2.36rem;
		}
	}

	&.-content-only {
		padding: 0 22px;

		> .title {
			font-size: 3.43rem;
		}
	}
}

@mixin services-card--mobile {
	max-width: 134.88px;
	height: 190.42px;
	border-radius: 3.17358px;
	padding: $spacing-double;

	> .icon {
		max-width: 24.6px;
		height: 24.6px;
		margin-bottom: 3.17px;
	}

	> .title {
		font-size: 0.93rem;
	}

	&.-no-padding-bottom {
		padding: 26px 15px;
		border-radius: 6.74387px;

		> .title {
			font-size: 1.29rem;
		}
	}

	&.-content-only {
		padding: 0 7px;

		> .title {
			font-size: 2.29rem;
		}
	}
}

.services-card {
	width: 100%;
	max-width: 340px;
	height: 480px;
	border-radius: 8px;
	padding: 40px;
	background-size: 100%;

	> .icon {
		width: 100%;
		max-width: 62px;
		height: 62px;
		background-size: 100%;
		display: block;
		margin-bottom: $spacing-default;
	}

	> .title {
		font: 400 2.29rem/1.3 $gotham-bold;
		letter-spacing: -0.03em;
	}

	&.-bottom-left {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&.-no-padding-bottom {
		padding-bottom: 0;
		border-radius: 17px;

		> .title {
			font: 400 3.43rem/1.2 $gotham-bold;
		}
	}

	&.-content-only {
		padding: 0 40px;
		display: flex;
		align-items: center;

		> .title {
			font: 500 5.14rem/1.1 $gotham-bold;
			letter-spacing: -0.04em;
		}
	}

	@include on(small-desktop) {
		@include services-card--small-desktop;
	}

	@include on(tablet) {
		@include services-card--tablet;
	}

	@include on(mobile) {
		@include services-card--mobile;
	}
}
