// bubble-message -- avatar-left
@mixin message-bubble--avatar-left {
	max-width: max-content;
	padding: $spacing-triple $spacing-triple $spacing-triple 40px;
	background: #ffffff;
	box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
	border-radius: 8px;
	position: relative;
	isolation: isolate;

	> .amount {
		display: flex;
		align-items: center;
		font: 400 2.29rem/1 $gotham-bold;
		letter-spacing: -0.02em;
		color: #2044a5;
		margin-top: $spacing-default;

		> .icon {
			min-width: 23px;
			height: 32px;
			margin-right: $spacing-half;
		}
	}

	> .avatar {
		left: -29px;
		top: calc(50% - 58px / 2);
	}
}

@mixin message-bubble--small-desktop--avatar-left {
	padding: 17.57px 17.57px 17.57px 29.29px;
	box-shadow: 0 5.85714px 8.78571px -5.85714px rgba(15, 37, 69, 0.2);
	border-radius: 5.85714px;

	> .title {
		font: 400 0.72rem/1.4 $gotham-bold;
	}

	> .amount {
		font: 400 1.71rem/1 $gotham-bold;

		> .icon {
			min-width: 16.66px;
			height: 23.43px;
		}
	}

	> .avatar {
		max-width: 42.46px;
		height: 42.46px;
		left: -21.23px;
		top: calc(50% - 42.46px / 2 - 0.68px);
	}
}

@mixin message-bubble--small-desktop {
	&.-avatar-left {
		@include message-bubble--small-desktop--avatar-left;
	}
}

.message-bubble {
	width: 100%;

	&.-avatar-left {
		@include message-bubble--avatar-left;
	}

	> .title {
		font: 400 1rem/1.4 $gotham-bold;
		color: #2044a5;
		opacity: 0.8;
	}

	> .amount {
		display: flex;
		align-items: center;
		font: 400 2.29rem/1 $gotham-bold;
		letter-spacing: -0.02em;
		color: #2044a5;
		margin-top: $spacing-default;

		> .icon {
			min-width: 23px;
			height: 32px;
			margin-right: $spacing-half;
		}
	}

	> .avatar {
		position: absolute;
		width: 100%;
		max-width: 58px;
		height: 58px;
		background: #ffffff;
		box-shadow: 0 8px 12px -8px rgba(15, 37, 69, 0.2);
		border-radius: 50%;
		padding: 5px;
	}

	@include on(small-desktop) {
		@include message-bubble--small-desktop;
	}
}

@mixin indicator--mobile {
	> .item {
		width: 8px;
		height: 8px;

		&:not(:first-of-type) {
			margin-top: 10px;
		}

		&.-active {
			height: 30px;
		}
	}
}

.indicator {
	> .item {
		width: 15px;
		height: 15px;
		background: #ececec;
		opacity: 0.4;
		border-radius: 50%;

		&:not(:first-of-type) {
			margin-top: 18px;
		}

		&.-active {
			height: 37px;
			background: #e9e9e9;
			opacity: 0.8;
			border-radius: 59px;
		}
	}

	@include on(mobile) {
		@include indicator--mobile;
	}
}

@mixin services-card--small-desktop {
	max-width: 276.06px;
	height: 389.73px;
	border-radius: 6.49556px;
	padding: $spacing-quad;

	> .icon {
		max-width: 50.34px;
		height: 50.34px;
		margin-bottom: 6.5px;
	}

	> .title {
		font-size: 1.86rem;
	}

	&.-no-padding-bottom {
		padding-left: 31px;
		border-radius: 13.8031px;

		> .title {
			font-size: 2.79rem;
		}
	}

	&.-content-only {
		padding: 0 26px;

		> .title {
			font-size: 4rem;
		}
	}
}

@mixin services-card--tablet {
	max-width: 235.86px;
	height: 332.98px;
	border-radius: 5.54971px;
	padding: 27.5px;

	> .icon {
		max-width: 43.01px;
		height: 43.01px;
		margin-bottom: 5.55px;
	}

	> .title {
		font-size: 1.57rem;
	}

	&.-no-padding-bottom {
		padding-left: 27px;
		border-radius: 11.7931px;

		> .title {
			font-size: 2.36rem;
		}
	}

	&.-content-only {
		padding: 0 22px;

		> .title {
			font-size: 3.43rem;
		}
	}
}

@mixin services-card--mobile {
	max-width: 134.88px;
	height: 190.42px;
	border-radius: 3.17358px;
	padding: $spacing-double;

	> .icon {
		max-width: 24.6px;
		height: 24.6px;
		margin-bottom: 3.17px;
	}

	> .title {
		font-size: 0.93rem;
	}

	&.-no-padding-bottom {
		padding: 26px 15px;
		border-radius: 6.74387px;

		> .title {
			font-size: 1.29rem;
		}
	}

	&.-content-only {
		padding: 0 7px;

		> .title {
			font-size: 2.29rem;
		}
	}
}

.services-card {
	width: 100%;
	max-width: 340px;
	height: 480px;
	border-radius: 8px;
	padding: 40px;
	background-size: 100%;

	> .icon {
		width: 100%;
		max-width: 62px;
		height: 62px;
		background-size: 100%;
		display: block;
		margin-bottom: $spacing-default;
	}

	> .title {
		font: 400 2.29rem/1.3 $gotham-bold;
		letter-spacing: -0.03em;
	}

	&.-bottom-left {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&.-no-padding-bottom {
		padding-bottom: 0;
		border-radius: 17px;

		> .title {
			font: 400 3.43rem/1.2 $gotham-bold;
		}
	}

	&.-content-only {
		padding: 0 40px;
		display: flex;
		align-items: center;

		> .title {
			font: 500 5.14rem/1.1 $gotham-bold;
			letter-spacing: -0.04em;
		}
	}

	@include on(small-desktop) {
		@include services-card--small-desktop;
	}

	@include on(tablet) {
		@include services-card--tablet;
	}

	@include on(mobile) {
		@include services-card--mobile;
	}
}

@mixin shop-item--cream {
	width: 100%;
	max-width: max-content;
	height: 268.26px;
	padding: 0 10px $spacing-default;
	// background: linear-gradient(180deg, #ffffff 23.92%, #dbd7e1 169.83%);
	border: 1.12715px solid #edf3fb;
	box-shadow: 0 9.01718px 13.5258px -9.01718px rgba(15, 37, 69, 0.2);
	border-radius: 11.2715px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	position: relative;

	> .image {
		width: 100%;
		max-width: 96.93px;
		height: 241.21px;
		position: absolute;
		top: -50px;
	}

	> .content {
		display: flex;
		align-items: center;

		> .icon {
			min-width: 48px;
			height: 48px;
		}

		> .details {
			width: 100%;
			margin-left: $spacing-half;

			> .title {
				font: 600 0.86rem/1.3 $gilroy-bold;
				letter-spacing: -0.02em;
				color: #1c6b9e;
				opacity: 0.4;
			}

			> .amount {
				font: 400 1.43rem/1.3 $gotham-bold;
				letter-spacing: -0.04em;
				color: #0e517c;
			}
		}
	}
}

.shop-item {
	&.-cream {
		@include shop-item--cream;
	}
}
